
/* Active Link */
.nav-pills .nav-link.active {
    background-color: $blue !important; /* light gray background */
    color: white !important; /* text color white */
    border-radius: 0.25rem; /* rounded corners */
}

.label-style {
    color: white !important;
    font-weight: bold; !important;
}
